.ba-btn {
  border: solid 2px;
  border-radius: 25px;
  padding: 7px 14px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  &.default {
    border-color: #FF64F2;
    color: #FF64F2;
  }
}