.ep-select {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  width: fit-content;
  position: relative;
  padding-top: 30px;
  max-height: 230px;
  overflow-y: scroll;
  & .bubble {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: solid 3px #FFFFFF;
    &.filled {
      background-color: #FFFFFF;
      color: #000000;
      border-width: 0;
    }
    z-index: 5;
  }
  & .season-title {
    color: #FFFFFF;
    position: relative;
    span {
      position: absolute;
      width: 6em;
      top: -1em;
    }
  }
}

.ep-select-multi-footer {
  & .btn-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 150px 150px;
    justify-content: center;
  }
}
