.ep-select {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  position: relative;
  margin: 20px 15px;
  & .bubble {
    width: 2.6em;
    height: 2.6em;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 3px;
    margin-bottom: 3px;
    border: solid 4px #5CFFF7;
    // transition: all 200ms;
    &.filled {
      background-image: linear-gradient(-180deg, #ADFFFD 0%, #1DF2EA 100%);
      color: #FFFFFF;
      border-width: 0;
    }
    z-index: 5;
  }
  & .season-title {
    position: absolute;
    color: #FFFFFF;
    top: -1.5em;
    left: -.5em;
    height: 4.2em;
    width: 6em;
    // border-left: solid 2px #FFFFFF;
    padding-left: .5em;
    z-index: 4;
  }
}

.ep-select-multi-footer {
  & .btn-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 150px 150px;
    justify-content: center;
  }
}
