.filter {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  background: #232323;
  padding: 15px;
  & .genres-selector {
    margin-bottom: 10px;
    width: 100%;
  }
  & .search {
    // width: 100%;
    margin-bottom: 15px;
    & input {
      width: 100%;
      text-align: left;
      padding-left: 0;
      font-size: 1em;
    }
  }
  & .years-sort {
    display: grid;
    grid-template-columns: 300px 1fr;

    @media screen and (max-width: 525px) {
      grid-template-columns: 1fr;
    }
  }
}