.genres-selector {
  position: relative;
  text-transform: uppercase;
}

.selector, .selected {
  display: flex;
  flex-wrap: wrap;
  padding-right: 1em;
  color: #FF64F2;
  position: relative;
  min-height: 2.5em;
  & > div {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}



.x {
  font-family: 'Nunito', sans-serif;
  margin-left: 5px;
  font-size: 1.3em;
  text-transform: lowercase;
}

.selected {
  border-bottom: solid 1px #F0F0F0;
  padding-bottom: 5px;
}

.selector {
  background-color: #F0F0F0;
  position: absolute;
  visibility: hidden;
  transform: translateY(-100%);
  padding: 10px 10px 5px 10px;
  width: 100%;
  &.dd-active {
    transform: translateY(0%);
    visibility: visible;
    z-index: 10;
  }
  & .toggle-dd {
    margin-top: .5em;
    right: 1em;

    & .x {
      margin-left: 0;
      margin-top: -5px;
    }
  }
}

.genre-label {
  border-radius: 25px;
  padding: 5px 9px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  border: solid 1px #232323;
  color: #232323;
  & > * {
    margin-top: -2px;
  }
  &.picked {
    border-color: #F0F0F0;
    color: #F0F0F0;
  }
  &.hidden {
    display: none;
  }
}

.toggle-dd {
  position: absolute;
  right: 0;
  height: 100%;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 2px;
  color: #F0F0F0;
}