.imdb-rating {
  position: relative;
  & img {
    align-self: center;
    @include makesmall();    
  }
  & span {
    position: absolute;
    color: #000000;
    align-self: center;
    font-size: 1.15em;
    font-weight: 400;
    left: 10px;
    top: 29%;
  }
}