.imdb-rating {
  display: flex;
  align-items: center;
  img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  span {
    font-size: .86em;
    padding-top: 2px;    
  }
}
.small {
  font-size: .71em;
}