.movie {
  color: #FFFFFF;
  background-color: #3F395C;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 400px;
  max-width: 400px;
  @include addshadow(1);
  & .movie-info {
    display: flex;
    height: 200px;
    & .movie-text {
      padding: 20px 20px 10px 20px;
      display: grid;
      grid-gap: 12px;
      & h3 {
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2em;
      }
      & .year {
      display: block;
      text-align: center;
      font-size: .9em;
      }
      & p {
        font-weight: 300;
        line-height: 1.5em;
      }
    }
  }
  & .movie-stats {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    & .red {
      background-color: #FF6464;
    }
  }
  & .movie-links {
    padding: 10px 0 0 0;
    background-color: #2F2B45;
    & .btn-container {
      padding: 10px 20px 25px 20px;
    }
    & .ba-btn {
      width: 100%;
    }
  }
}
