.movie {
  color: #FFFFFF;
  width: 350px;
  height: 400px;
  position: relative;
  @include addshadow(1);
  & .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: linear-gradient(0deg, rgba(39, 39, 67, 0.85) 0%, rgba(48, 49, 83, 0.85) 51%, rgba(59, 60, 103, 0.85) 96%);
  }
  & .movie-info {
    display: flex;
    height: 200px;
    & .movie-text {
      display: grid;
      & h3 {
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2em;
        padding: 20px;
      }
      & .year {
        display: block;
        text-align: center;
        font-size: .9em;
        padding-top: 15px;
        background: rgba(17,11,49,1);
      }
      & p {
        font-weight: 300;
        line-height: 1.5em;
        padding: 20px; 
        /* Rectangle 4: */
        background: rgba(17,11,49,1);
      }
    }
  }
  & .movie-stats {
    padding: 15px 20px 25px 20px;
    display: flex;
    justify-content: space-between;
    & .red {
      background-color: #FF6464;
    }
  }
  & .movie-links {
    border-bottom-left-radius: 20px;
    & .ba-btn {
      width: 100%;
    }
  }
}

.btn-container {
  padding: 10px 20px 25px 20px;
}
