.order-selector {
  padding-bottom: 5px;
  width: fit-content;
  position: relative;
  color: #F0F0F0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  & .ba-btn {
    width: 160px;
    padding-right: 50px;
  }
  & .ba-btn, & .toggle-order {
    position: relative;
    &.place-above {
      z-index: 50;
    }
  }
  & .toggle-order {
    position: absolute; 
    right: 0;
    bottom: 1.1em;
  }
}

.order-dd {
  // width: 130px;
}
