.search {
  position: relative;
  & input {
    border: none;
    border-bottom: solid 2px #FFFFFF;
    width: 300px;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    font-size: 1.3em;
    padding: 10px 22px;
    text-align: center;
    text-transform: uppercase;
  }
  & .ba-btn {
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 0;
    opacity: 0;
    transition: opacity 300ms;
    &.active {
      opacity: 1;
    }
  }
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFF;
}
