.sources {
  background-color: #131313;
  position: absolute;
  top: 0;
  transition: transform 300ms;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.hidden { transform: translateX(-100%); }
  &.hidden-right { transform: translateX(100%); }
  .seasons {
    display: grid;
    justify-content: center;
    padding: 20px 15px 0 15px;
  }
  .episodes-container {
    overflow-y: scroll;
    height: 180px;
  }
  .legend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    justify-content: center;
    .bubble {
      width: 17px;
      height: 17px;
      margin-right: 15px;
    }
    div {
      justify-self: center;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    div:nth-child(2) {
      justify-self: start;
    }
  }
}