$img-size: 2.27em;

.source-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.source-name {
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 15px 0 0 0;
  text-transform: uppercase;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.carousel {
  position: relative;
  margin: 0 2em;  
  display: inline-block;
  & .carousel-item {
    display: inline-block;
    // transition: all 500ms;
    &.current {
      position: relative;
      z-index: 5;
    }
    &.hidden {
      display: none;
    }
    &.right, &.left {
      position: absolute;
      z-index: 3;
      display: none; // temp
      &:after {
        content: '';
        position: absolute;
        top: 0; right: 0;
        width: $img-size;
        height: $img-size;
        background-color: rgba(0, 0, 0, .7);
      }
    }
    &.right {
      transform: scale(.8) translateX(-3em);
    }
    &.left {
      transform: scale(.8) translateX(-$img-size + 2em);
    } 
  }
}

.source-logo {
  width: $img-size;
  height: $img-size;
  object-fit: cover;
}