.sources {
  background-image: linear-gradient(-179deg, #310844 2%, #3C0A75 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
  color: #FFFFFF;
  padding: 25px;
  & h3, & h4 {
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 10px;
  }
  &-title {
    margin-bottom: 30px;
    & > *:first-child { text-align: left; margin-bottom: 20px; }
  }
  & .btn-container {
    display: flex;
    flex-direction: column;
    & > * {
      width: fit-content;
      margin: 7px auto;
    }
  }
  & .vendor-carousel {
    margin: 20px auto;
    width: fit-content;
  }
}

.ep-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: all 500ms;
  & > * {
    margin-bottom: 20px;
  }
}

.sources-wrapper {
  /* full page bg: */
  background-image: linear-gradient(-45deg, #281E45 0%, #170721 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);
  padding: 15px;
}