$anim-time: 40000ms;

.splash {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: #FFFFFF;
  & .ba-btn.discover {
    background-color: transparent;
    color: #232323;
    position: relative;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      width: 100%; height: 100%;
      background-color: yellow;
      top: 0; left: 0;
      z-index: -1;
      transform: skew(-15deg);
    }
  }

  & .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, .78);
    display: flex;
    flex-direction: column;
    display: grid;
    align-items: end;
    justify-content: center;
    align-items: center;
  }

  & h1, & h2 {
    text-align: center;
    position: relative;
    z-index: 99;
    text-transform: uppercase;
  }
  & h1 {
    font-size: 4.5em;
    font-family: 'Limelight', cursive;
    margin-bottom: .2em;
  }
  & h2 {
    font-size: 2em;
    font-weight: 300;
  }

  & .headlines {
  }
  & .search-discover {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    & > * { 
      margin-bottom: 15px;
    }
  }
  & .question {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 2.8em;
    font-weight: 700;
    animation: bounce 3500ms ease-in-out infinite;
    & a { box-shadow: none; }
  }
}

.splash-wrapper {
  width: 100vw;
  height: 100vh;
  &.close {
    animation: slideup 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    position: absolute;
    z-index: 9999;
    transform: translateY(-100%);
  }
  &.close-no-anim {
    position: absolute;
    z-index: 9999;
    transform: translateY(-100%);
  }
}

.images {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: -35%;
  & img {
    margin: 15px;
  }
  & > .img-wrapper {
    width: 100%;
    animation: slide-right $anim-time linear alternate infinite;
    will-change: transform;
  }
}

.img-size-0 {
  position: relative;
  z-index: 3;
  transform: scale(.9);
  animation: popzero 1500ms forwards;
}
.img-size-1 {
  position: relative;
  z-index: 5;
  animation: popone 1500ms forwards;
  transform: scale(1.2);
}

@for $i from 1 through 5 {
  .img-delay-#{$i} {
    animation-delay: calc(#{$i} * 100ms) !important;
  }
}

@keyframes popzero {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(.9);
    opacity: 1;
  }
}

@keyframes popone {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
