.stats {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  padding: 5px;
  color: #FFFFFF;
  font-weight: 300;
  & .stats-value {
    // background-color: #FF64F2;
    background-image: linear-gradient(-45deg, #E41AE3 0%, #7745C6 100%);
    border-radius: 100%;
    width: 50px; 
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include addshadow(1);
  }
}

.stats-value.hours {
  background-image: linear-gradient(-45deg, #15F2BF 0%, #895AD3 100%);
}

.stats-value.binge-able {
  background-image: linear-gradient(-180deg, #C4433D 0%, #CE62CF 97%);
}