.stats {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
  justify-items: center;
  padding: 15px;
  color: #FFFFFF;
  font-weight: 300;
  & .stats-value {
    // background-color: #FF64F2;
    background-image: linear-gradient(-45deg, #E41AE3 0%, #7745C6 100%);
    border-radius: 100%;
    width: 50px; 
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include addshadow(1);
  }
}